.products{
    display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.title{
  padding-top: 3%;
  padding-bottom: 3%;
  line-height:2em; 
  text-transform: none;
  font-size: 30px;
  font-weight: normal;
  font-style: italic; font-family: "Playfair Display","Bookman",serif;
  color:#1f0303; letter-spacing:-0.005em; word-spacing:1px;
  letter-spacing:none;
  color: rgb(0, 0, 0);
}
